<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="widget-content-main text-center">
    <f:if condition="{lastRun}">
        <f:then>
            <div class="mb-2">
                <f:switch expression="{status}">
                    <f:case value="ok">
                        <span class="badge bg-success fs-6">{humanReadableAge} ago</span>
                    </f:case>
                    <f:case value="warning">
                        <span class="badge bg-warning text-dark fs-6">{humanReadableAge} ago</span>
                    </f:case>
                    <f:case value="error">
                        <span class="badge bg-danger fs-6">{humanReadableAge} ago</span>
                    </f:case>
                </f:switch>
            </div>
            <small class="text-muted">
                <f:format.date format="d.m.Y H:i:s">{lastRun.timestamp}</f:format.date>
            </small>
        </f:then>
        <f:else>
            <p class="text-muted"><f:translate key="widget.lastIndexingRun.never" extensionName="solr_dashboard_widgets" /></p>
        </f:else>
    </f:if>
</div>
</html>
