<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:layout name="Widget/Widget" />

<f:section name="main">
    <f:if condition="{lastRun}">
        <f:then>
            <f:be.infobox title="Last run: {humanReadableAge} ago" state="{boxState}" disableIcon="false">
                <span class="small text-muted">
                    <f:format.date format="d.m.Y H:i:s">{lastRun.timestamp}</f:format.date>
                </span>
            </f:be.infobox>
        </f:then>
        <f:else>
            <f:be.infobox title="No data" state="-1">
                <f:translate key="widget.lastIndexingRun.never" extensionName="solr_dashboard_widgets" />
            </f:be.infobox>
        </f:else>
    </f:if>

    <f:if condition="{nextRun}">
        <f:be.infobox title="Next run: {nextRunEta}" state="-1" disableIcon="false">
            <span class="small text-muted">
                <f:format.date format="d.m.Y H:i:s">{nextRun.timestamp}</f:format.date>
            </span>
        </f:be.infobox>
    </f:if>
</f:section>

<f:section name="footer">
    <f:render partial="Widget/Button" arguments="{button: button}"/>
</f:section>
</html>
