<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="widget-content-main">
    <f:if condition="{noData}">
        <f:then>
            <div class="alert alert-info">
                <p><f:translate key="widget.searchStatistics.noDataHint" extensionName="solr_dashboard_widgets" /></p>
                <p><code><f:translate key="widget.searchStatistics.activationHint" extensionName="solr_dashboard_widgets" /></code></p>
            </div>
        </f:then>
        <f:else>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <h6><f:translate key="widget.searchStatistics.topSearchTerms" extensionName="solr_dashboard_widgets" /></h6>
                    <canvas class="widget-chart-canvas"
                            data-chart-type="bar"
                            data-chart='{topTermsChartData -> f:format.raw()}'
                            data-chart-options='{"indexAxis":"y"}'></canvas>
                </div>
                <div class="col-md-6 mb-3">
                    <h6><f:translate key="widget.searchStatistics.noHitQueries" extensionName="solr_dashboard_widgets" /></h6>
                    <f:if condition="{noHitQueries}">
                        <f:then>
                            <ul class="list-group list-group-flush">
                                <f:for each="{noHitQueries}" as="query">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        {query.keywords}
                                        <span class="badge bg-danger rounded-pill">{query.cnt}</span>
                                    </li>
                                </f:for>
                            </ul>
                        </f:then>
                        <f:else>
                            <p class="text-muted">-</p>
                        </f:else>
                    </f:if>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h6><f:translate key="widget.searchStatistics.searchVolume" extensionName="solr_dashboard_widgets" /></h6>
                    <canvas class="widget-chart-canvas"
                            data-chart-type="line"
                            data-chart='{volumeChartData -> f:format.raw()}'></canvas>
                </div>
            </div>
        </f:else>
    </f:if>
</div>
</html>
